<!-- Show schools by Division -->
<ng-container
  *ngIf="conference.divisions?.length > 0; else conferenceBlock"
  cdkDropListGroup
>
  <!-- Show schools that aren't in a division -->
  <ng-container *ngIf="orphanedSchools.length > 0">
    <h3>Orphaned Schools</h3>
    <mat-grid-list
      [cols]="cols"
      rowHeight="100px"
      gutterSize="10px"
      cdkDropList
      [cdkDropListData]="orphanedSchools"
      (cdkDropListDropped)="drop($event)"
      cdkDropListSortingDisabled
      cdkDropListAutoScrollDisabled="true"
      class="school-grid-list"
      id="orphaned-schools-list"
    >
      <mat-grid-tile
        *ngFor="let school of orphanedSchools"
        class="school-grid-tile"
        [style.--team-primary-color]="school.color"
        [style.--team-alt-color]="school.altColor"
        (cdkDragStarted)="dragSchool = school"
        (cdkDragEntered)="onDragEntered($event)"
        (cdkDragExited)="onDragExited($event)"
        cdkDrag
      >
        <app-school-grid-tile [school]="school"></app-school-grid-tile>
      </mat-grid-tile>
    </mat-grid-list>
  </ng-container>

  <ng-container *ngFor="let division of conference.divisions; let i = index">
    <h3>{{ division.shortName }}</h3>
    <mat-grid-list
      [cols]="cols"
      rowHeight="100px"
      gutterSize="10px"
      cdkDropList
      [cdkDropListData]="division.schools"
      (cdkDropListDropped)="drop($event)"
      cdkDropListSortingDisabled
      cdkDropListAutoScrollDisabled="true"
      class="school-grid-list"
      [id]="'division-school-list-' + i"
    >
      <mat-grid-tile
        *ngFor="let school of division.schools"
        class="school-grid-tile"
        [style.--team-primary-color]="school.color"
        [style.--team-alt-color]="school.altColor"
        (cdkDragStarted)="dragSchool = school"
        (cdkDragEntered)="onDragEntered($event)"
        (cdkDragExited)="onDragExited($event)"
        cdkDrag
      >
        <app-school-grid-tile [school]="school"></app-school-grid-tile>
      </mat-grid-tile>
      <mat-grid-tile
        id="drop-location"
        *ngIf="isDragging && activeDivision === 'division-school-list-' + i"
      >
      </mat-grid-tile>
      <mat-grid-tile>
        <app-school-grid-tile
          [isAddCard]="true"
          (click)="openAddSchoolDialog(division)"
        ></app-school-grid-tile>
      </mat-grid-tile>
    </mat-grid-list>
  </ng-container>
</ng-container>

<!-- Show schools by Conference -->
<ng-template #conferenceBlock>
  <mat-grid-list
    [cols]="cols"
    rowHeight="100px"
    gutterSize="10px"
    cdkDropList
    [cdkDropListData]="conference.schools"
    (cdkDropListDropped)="drop($event)"
  >
    <ng-container *ngFor="let school of conference.schools">
      <mat-grid-tile
        class="school-grid-tile"
        [style.--team-primary-color]="school.color"
        [style.--team-alt-color]="school.altColor"
      >
        <app-school-grid-tile [school]="school"></app-school-grid-tile>
      </mat-grid-tile>
    </ng-container>
    <mat-grid-tile>
      <app-school-grid-tile
        [isAddCard]="true"
        (click)="openAddSchoolDialog()"
      ></app-school-grid-tile>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>
