mat-grid-list {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

mat-grid-tile {
  overflow: visible;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

/* Shared transition for hover effects */
%hover-transition {
  transition: all 0.3s ease-in-out;
}

/* Override CSS to disable animation */
cdk-drag-preview, .cdk-drag-placeholder {
  transition: none !important;
  animation: none !important;
}

.cdk-drag-placeholder {
  opacity: 25%;
  z-index: -100;
}

.mat-grid-tile.cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.school-grid-list.cdk-drop-list-dragging .school-grid-tile:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}