mat-grid-list {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

mat-grid-tile {
  overflow: visible;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

/* Shared transition for hover effects */
%hover-transition {
  transition: all 0.3s ease-in-out;
}


.cdk-drag-preview {
  //border: solid 1px #ccc;
  //border-radius: 4px;
  //box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-grid-tile.cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
