<!-- Show schools by Division -->
<ng-container *ngIf="conference.divisions && conference.divisions.length > 1; else conferenceBlock">
  <ng-container *ngFor="let division of conference.divisions">
    <h3>{{ division.shortName }}</h3>
    <mat-grid-list [cols]="cols" rowHeight="100px" gutterSize="10px">
      <mat-grid-tile *ngFor="let school of division.schools" class="school-grid-tile"
                     [style.--team-primary-color]="school.color"
                     [style.--team-alt-color]="school.altColor">
        <app-school-grid-tile [school]="school" [isDark]="isDark"></app-school-grid-tile>
      </mat-grid-tile>
      <mat-grid-tile>
        <app-school-grid-tile [isAddCard]="true" (click)="openAddSchoolDialog(division)"></app-school-grid-tile>
      </mat-grid-tile>
    </mat-grid-list>
  </ng-container>
</ng-container>

<!-- Show schools by Conference -->
<ng-template #conferenceBlock>
  <mat-grid-list [cols]="cols" rowHeight="100px" gutterSize="10px">
    <ng-container *ngFor="let school of conference.schools">
      <mat-grid-tile class="school-grid-tile" [style.--team-primary-color]="school.color"
                     [style.--team-alt-color]="school.altColor">
        <app-school-grid-tile [school]="school" [isDark]="isDark"></app-school-grid-tile>
      </mat-grid-tile>
    </ng-container>
    <mat-grid-tile>
      <app-school-grid-tile [isAddCard]="true" (click)="openAddSchoolDialog()"></app-school-grid-tile>
    </mat-grid-tile>

  </mat-grid-list>
</ng-template>
