mat-grid-list {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

mat-grid-tile {
  overflow: visible;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

/* Shared transition for hover effects */
%hover-transition {
  transition: all 0.3s ease-in-out;
}
