<mat-expansion-panel
  *ngIf="school"
  class="school-expansion-panel"
  [ngStyle]="{
    'background-color': school.color,
    'border-bottom': 'solid',
    'border-bottom-color': school.altColor
  }"
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false"
>
  <mat-expansion-panel-header>
    <mat-panel-title [ngStyle]="{ color: getContrast(school.color) }">
      {{ school.name }} {{ school.nickname }}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="expansion-panel-data">
    <div class="school-detail-logo-container">
      <img *ngIf="school" class="school-detail-logo" [src]="school.logo" />
    </div>
    <div
      class="school-quick-info"
      [ngStyle]="{ color: getContrast(school.color) }"
    >
      <div><span>Division: </span>{{ school.ncaaDivision }}</div>
      <div>
        <span>Conference: </span
        >{{ getConferenceNameById(school.conferenceId) }}
      </div>
      <div *ngIf="school.divisionId">
        <span>Division: </span>{{ getDivisionNameById(school.divisionId) }}
      </div>
      <div><span>State: </span>{{ school.state }}</div>
    </div>
  </div>
  <button
    mat-fab
    [ngStyle]="{ 'background-color': school.altColor }"
    class="schedule-button"
    [routerLink]="'/school/' + school.tgid + '/schedule'"
  >
    <mat-icon [ngStyle]="{ color: getContrast(school.altColor) }"
      >calendar_today</mat-icon
    >
  </button>
</mat-expansion-panel>
