<!-- <div *ngIf="school"> -->
            <mat-expansion-panel *ngIf="school" class="school-expansion-panel" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{school.name}} {{school.nickname}}
                    </mat-panel-title>
                    <!-- <mat-panel-description>
                            <mat-icon></mat-icon>
                        </mat-panel-description> -->
                </mat-expansion-panel-header>
                <div><span>Division: </span>{{school.division}}</div>
                <div><span>Conference: </span>{{school.conference}}</div>
                <div><span>State: </span>{{school.state}}</div>
                <button mat-raised-button color="primary" routerLink="/school/{{school.tgid}}/schedule">Schedule</button>
            </mat-expansion-panel>

<!-- </div> -->