<h2 mat-dialog-title>Add a School</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Select School</mat-label>
    <mat-select [(value)]="selectedSchool">
      <mat-option *ngFor="let school of availableSchools" [value]="school">
        {{ school.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="selectedSchool">Add</button>
</mat-dialog-actions>
