<mat-card>
  <mat-card-header class="edit-conference-card-header">
    <mat-card-title>Edit Conference</mat-card-title>
    <div>
      <button mat-button (click)="cancel()">Cancel</button>
      <button
        mat-button
        color="primary"
        [disabled]="!(conferenceEditorService.isValid() | async)"
        (click)="save()"
      >
        Save
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Conference</mat-label>
      <mat-select
        [(ngModel)]="selectedConference"
        (selectionChange)="onConferenceSelectChange($event)"
        [compareWith]="compareService.compareConferences"
        [disabled]="!(conferenceEditorService.infoTabValidity | async)"
      >
        <mat-option *ngFor="let conference of conferences" [value]="conference">
          {{ conference.shortName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-error *ngIf="conferenceEditorService.errors">
      <ul>
        <li *ngFor="let error of conferenceEditorService.errors">
          {{ error }}
        </li>
      </ul>
    </mat-error>
    <mat-tab-group *ngIf="selectedConference" dynamicHeight>
      <mat-tab label="Info">
        <app-conference-info></app-conference-info>
      </mat-tab>
      <mat-tab label="Divisions">
        <app-conference-divisions
          [allDivisions]="divisions"
        ></app-conference-divisions>
      </mat-tab>
      <mat-tab label="Schools">
        <app-conference-school-list
          [schools]="schools"
          [divisions]="divisions"
        ></app-conference-school-list>
      </mat-tab>
      <mat-tab label="X-Div Rivalries">
        <app-xdiv-rivalries></app-xdiv-rivalries>
      </mat-tab>
      <mat-tab label="Map">
        <app-conference-map></app-conference-map>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
