<mat-card>
    <mat-card-header>
      <mat-card-title>Edit Conference</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field>
            <mat-label>Conference</mat-label>
            <mat-select [(ngModel)]="selectedConference">
              <mat-option *ngFor="let conference of conferences" [value]="conference">
                  {{conference.name}}
              </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-tab-group *ngIf="selectedConference">
          <mat-tab label="Map">
            <div>
              <app-conference-map [conference]="selectedConference"></app-conference-map>
            </div>
          </mat-tab>
          <mat-tab label="Edit">
            <app-conference-school-list></app-conference-school-list>
          </mat-tab>
        </mat-tab-group>
    </mat-card-content>
  </mat-card>
  