<mat-toolbar color="primary">
  <a mat-button routerLink="/" routerLinkActive="active-button">{{ title }}</a>
  <span></span>
  <a mat-button routerLink="/dashboard" routerLinkActive="active-button"
    >Dashboard</a
  >
  <a mat-button routerLink="/schools/all" routerLinkActive="active-button"
    >Schools</a
  >
  <!-- <a mat-button routerLink="/conferences" routerLinkActive="active-button"
    >Conferences</a
  > -->
  <a
    mat-button
    routerLink="/custom-conferences"
    routerLinkActive="active-button"
    >Conferences</a
  >
  <a mat-button routerLink="/schedule/0" routerLinkActive="active-button"
    >Schedule</a
  >
  <!-- <a mat-button routerLink="/playoffs" routerLinkActive="active-button"
    >Playoffs</a
  >
  <a mat-button routerLink="/bowls" routerLinkActive="active-button">Bowls</a> -->
</mat-toolbar>

<router-outlet></router-outlet>
