<mat-toolbar color="primary">
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
    <a mat-button routerLink="/dashboard" routerLinkActive="activeButton">{{title}}</a>
    <span></span>
    <!-- <span class="example-spacer"></span> -->
    <a mat-button routerLink="/schools" routerLinkActive="activeButton">Schools</a>
    <a mat-button routerLink="/edit-conferences" routerLinkActive="activeButton">Edit Conferences</a>
  </mat-toolbar>

<div class="big_class">
    <router-outlet></router-outlet>
</div>