<p>playoff works!</p>
<mat-card>
    <mat-card-content routerLink="12">
        <mat-card-title>
            12 team
        </mat-card-title>
    </mat-card-content>
</mat-card>
<!-- <mat-card>
    <mat-card-content routerLink="8">
        <mat-card-title>
            8 team
        </mat-card-title>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-content routerLink="16">
        <mat-card-title>
            16 team
        </mat-card-title>
    </mat-card-content> -->
<!-- </mat-card> -->