<form #conferenceInfoForm="ngForm" class="edit-form">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input
      matInput
      [(ngModel)]="conference.name"
      name="name"
      #name="ngModel"
      required
    />
    <mat-error *ngIf="name.invalid">Please enter a valid name.</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Short Name</mat-label>
    <input
      matInput
      [(ngModel)]="conference.shortName"
      name="shortName"
      #shortName="ngModel"
      required
    />
    <mat-error *ngIf="shortName.invalid"
      >Please enter a valid short name.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Abbreviation</mat-label>
    <input
      matInput
      [(ngModel)]="conference.abbreviation"
      name="abbreviation"
      #abbreviation="ngModel"
    />
    <mat-error *ngIf="abbreviation.invalid"
      >Please enter a valid abbreviation.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Conference ID</mat-label>
    <input
      matInput
      [(ngModel)]="conference.conferenceId"
      name="conferenceId"
      #conferenceId="ngModel"
      required
      readonly
    />
    <mat-error *ngIf="conferenceId.invalid"
      >Conference ID is required.
    </mat-error>
  </mat-form-field>

  <div class="radio-group">
    <mat-radio-group
      [(ngModel)]="conference.classification"
      name="classification"
      #classification="ngModel"
      required
    >
      <mat-radio-button value="FBS">FBS</mat-radio-button>
      <mat-radio-button value="FCS">FCS</mat-radio-button>
    </mat-radio-group>

    <mat-error *ngIf="classification.invalid"
      >Please select a valid value for FBS/FCS.
    </mat-error>
  </div>

  <mat-checkbox [(ngModel)]="conference.powerConf" name="powerConf"
    >Power Conference
  </mat-checkbox>

  <mat-form-field>
    <mat-label>Number of Conference Games</mat-label>
    <mat-select
      [(ngModel)]="conference.numOfConfGames"
      name="numOfConfGames"
      #numOfConfGames="ngModel"
      required
    >
      <mat-option *ngIf="conference.divisions.length === 0" [value]="0"
        >Round Robin</mat-option
      >
      <mat-option *ngIf="conference.divisions.length === 2" [value]="8"
        >8</mat-option
      >
      <mat-option *ngIf="conference.divisions.length === 2" [value]="9"
        >9</mat-option
      >
    </mat-select>
    <mat-error *ngIf="numOfConfGames.invalid"
      >Please select a valid number of conference games.</mat-error
    >
  </mat-form-field>

  <mat-form-field>
    <mat-label>Conference Games Start Week</mat-label>
    <input
      matInput
      [(ngModel)]="conference.confGamesStartWeek"
      name="confGamesStartWeek"
      #confGamesStartWeek="ngModel"
      required
    />
    <mat-error *ngIf="confGamesStartWeek.invalid"
      >Please enter a valid start week for conference games.
    </mat-error>
  </mat-form-field>
</form>
