<mat-card *ngIf="game" class="mat-elevation-z8 schedule-table" style="margin-top: 25px">
    <div fxLayout="row" fxLayoutAlign="space-around" [style.margin-top.px]="50">
        <div fxLayout="column" fxLayoutAlign="center center">
            <img class="medium-team-logo" src="{{awayTeam.logo}}">
            <!-- <div [style.margin-top.px]="10">{{game.awayTeam.name}} {{game.awayTeam.nickname}}</div> -->
            <mat-form-field appearance="fill" class="add-game-dropdown" [style.margin-top.px]="10">
                <mat-label>Away Team</mat-label>
                <mat-select [(ngModel)]="awayTeam" name="availableAwaySchool" [compareWith]="compareSchools"  (selectionChange)="getAvailableHomeSchools()">
                    <mat-option *ngFor="let availableAwaySchool of availableAwaySchools" [value]="availableAwaySchool">
                        {{availableAwaySchool.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center">
            <div class="game-info-container" fxLayout fxLayout="row" fxLayoutGap="10px">
                <mat-form-field>
                    <input [(ngModel)]="game.day" autocomplete="off" matInput placeholder="Game Day">
                </mat-form-field>
                <mat-form-field>
                    <input [(ngModel)]="gameTime" autocomplete="off" matInput type="time"
                        placeholder="Game Time">
                </mat-form-field>
            </div>
            <div fxLayout fxLayout="row" fxLayoutGap="10px">
                <mat-form-field>
                    <input [(ngModel)]="game.gameResult.awayScore" autocomplete="off" matInput placeholder="Away Score">
                </mat-form-field>
                <mat-form-field>
                    <input [(ngModel)]="game.gameResult.homeScore" autocomplete="off" matInput placeholder="Home Score">
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center">
            <img class="medium-team-logo" src="{{homeTeam.logo}}">
            <!-- <div [style.margin-top.px]="10">{{game.homeTeam.name}} {{game.homeTeam.nickname}}</div> -->
            <mat-form-field appearance="fill" class="add-game-dropdown" [style.margin-top.px]="10">
                <mat-label>Home Team</mat-label>
                <mat-select [(ngModel)]="homeTeam" name="availableHomeSchool" [compareWith]="compareSchools" (selectionChange)="getAvailableAwaySchools()">
                    <mat-option *ngFor="let availableHomeSchool of availableHomeSchools" [value]="availableHomeSchool">
                        {{availableHomeSchool.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div fxLayoutAlign="end none" fxLayoutGap="10px" [style.margin-top.px]="100">
        <button mat-stroked-button color="accent" matTooltip="Swaps Home & Away Teams" (click)="swapHomeAway()">
            Swap Home Team
        </button>
        <button mat-flat-button color="accent" matTooltip="Saves Game" (click)="save()">
            Save
        </button>
        <button mat-button color="basic" matTooltip="Cancels Changes" (click)="cancel()">
            Cancel
        </button>
    </div>
</mat-card>
<!-- <button mat-fab color="accent" class="save-button" matTooltip="Saves Game" (click)="save()">
    <mat-icon>save</mat-icon>
</button>
<button mat-button color="basic" class="save-button" matTooltip="Cancels Changes" (click)="cancel()">
    Cancel
</button> -->