<div class="main-div">
  <mat-card *ngIf="game" class="scoreboard mat-elevation-z8">
    <div class="teams-section">
      <div class="team">
        <img
          class="team-logo"
          [src]="awayTeam.logo"
          alt="{{ awayTeam.name }}"
        />
        <mat-form-field appearance="outline">
          <mat-label>Away Team</mat-label>
          <mat-select
            [(ngModel)]="awayTeam"
            name="availableAwaySchool"
            [compareWith]="compareService.compareSchools"
            (selectionChange)="getAvailableHomeSchools()"
          >
            <mat-option
              *ngFor="let availableAwaySchool of availableAwaySchools"
              [value]="availableAwaySchool"
            >
              {{ availableAwaySchool.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Away Score</mat-label>
          <input [(ngModel)]="game.gameResult.awayScore" matInput />
        </mat-form-field>
      </div>
      <div class="versus">
        <span>VS</span>
      </div>
      <div class="team">
        <img
          class="team-logo"
          [src]="homeTeam.logo"
          alt="{{ homeTeam.name }}"
        />
        <mat-form-field appearance="outline">
          <mat-label>Home Team</mat-label>
          <mat-select
            [(ngModel)]="homeTeam"
            name="availableHomeSchool"
            [compareWith]="compareService.compareSchools"
            (selectionChange)="getAvailableAwaySchools()"
          >
            <mat-option
              *ngFor="let availableHomeSchool of availableHomeSchools"
              [value]="availableHomeSchool"
            >
              {{ availableHomeSchool.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Home Score</mat-label>
          <input [(ngModel)]="game.gameResult.homeScore" matInput />
        </mat-form-field>
      </div>
    </div>
    <div class="game-details">
      <mat-form-field appearance="outline">
        <mat-label>Week</mat-label>
        <mat-select
          [(ngModel)]="gameWeek"
          [compareWith]="compareService.compareWeeks"
        >
          <mat-option *ngFor="let week of emptyWeeks" [value]="week">
            {{ week }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Day</mat-label>
        <mat-select [(ngModel)]="gameDay">
          <mat-option *ngFor="let day of dayList" [value]="day">
            {{ day }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Game Time</mat-label>
        <input [(ngModel)]="gameTime" matInput type="time" />
      </mat-form-field>
    </div>
    <div class="game-controls">
      <mat-slide-toggle
        [(ngModel)]="validate"
        (change)="onValidateSliderChange($event)"
      >
        Filter Valid Opponents
      </mat-slide-toggle>
      <button
        mat-stroked-button
        color="accent"
        matTooltip="Swaps Home & Away Teams"
        (click)="swapHomeAway()"
      >
        Swap Home Team
      </button>
      <button
        mat-flat-button
        color="accent"
        matTooltip="Saves Game"
        (click)="editGame()"
      >
        Save
      </button>
      <button
        mat-button
        color="basic"
        matTooltip="Cancels Changes"
        (click)="cancel()"
      >
        Cancel
      </button>
    </div>
  </mat-card>
</div>
