<div class="dashboard-buttons-container">
    <div class="dashboard-inputs" style="border-bottom-style: ridge">
        <h1 style="margin-top: revert">Setup (Do these first)</h1>
        <input #xlsxInputSchedule hidden="true" type="file" onclick="this.value=null" (change)="xlsxScheduleChange($event)" accept=".xlsx"/>
        <button mat-flat-button color="primary" class="dashboard-buttons" (click)="xlsxInputSchedule.click()">Choose Schedule File</button>
        <input #xlsxInputAlignment hidden="true" type="file" onclick="this.value=null" (change)="xlsxAlignmentChange($event)" accept=".xlsx"/>
        <button mat-flat-button color="primary" class="dashboard-buttons" (click)="xlsxInputAlignment.click()">Choose Conference Alignment File</button>
    </div>
    <h1 style="margin-top: revert">Quick Editing Tools</h1>
    <button mat-flat-button color="primary" class="dashboard-buttons" (click)="removeAllFcsGames()">Remove All FCS Games</button>
    <button mat-flat-button color="primary" class="dashboard-buttons" (click)="removeAllOocGamesNonRivalry()">Remove All OOC Games (non-rivalry)</button>
    <button mat-flat-button color="primary" class="dashboard-buttons" (click)="removeAllOocGames()">Remove All OOC Games</button>
    <button mat-flat-button color="primary" class="dashboard-buttons" (click)="autoAddGames()">Auto Add Games</button>
    <button mat-flat-button color="primary" class="dashboard-buttons" (click)="autoAddGamesAggressive()">Auto Add Games (aggressive)</button>
    <button mat-flat-button color="primary" class="dashboard-buttons" (click)="fixSchedule()">Fix Schedule</button>
</div>
<button mat-fab color="accent" class="save-button" (click)="downloadFile()">
    <mat-icon>save</mat-icon>
</button>
