<div class="dashboard-buttons-container">
    <button mat-flat-button color="primary" class="dashboard-buttons" (click)="removeAllFcsGames()">Remove All FCS Games</button>
    <button mat-flat-button color="primary" class="dashboard-buttons" (click)="removeAllOocGamesNonRivalry()">Remove All OOC Games (non-rivalry)</button>
    <button mat-flat-button color="primary" class="dashboard-buttons" (click)="removeAllOocGames()">Remove All OOC Games</button>
    <button mat-flat-button color="primary" class="dashboard-buttons" (click)="autoAddGames()">Auto Add Games</button>
    <button mat-flat-button color="primary" class="dashboard-buttons" (click)="autoAddGamesAggressive()">Auto Add Games (aggressive)</button>
    <button mat-flat-button color="primary" class="dashboard-buttons" (click)="fixSchedule()">Fix Schedule</button>
</div>
<button mat-fab color="accent" class="save-button" (click)="saveToFile()">
    <mat-icon>save</mat-icon>
</button>
