@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;

$light-theme: matx.define-theme((
  color: (
    theme-type: light,
    primary: matx.$m3-violet-palette,
  ),
  density: (
    scale: 0
  )
));

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto;
}

:root {
  // Apply the base theme at the root, so it will be inherited by the whole app.
  @include mat.all-component-themes($light-theme);
}


// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.big_class {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

/* .mat-grid-tile {
    position: inherit !important;
    overflow: visible !important;
} */

/* school-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
} */

/* .school-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
} */

.mat-grid-tile-content {
    position: relative !important;
} 

/* .example-spacer {
  flex: 1 1 auto;
} */

.activebutton {
    background-color: rgb(0, 0, 0) !important;
  }

.schedule-header {
    /* background-color: #CEB888; */
    height:100px;
    color:white;
}

.school-logo {
  height: 75px;
  /* padding-top: 10px; */
  padding-left: 10px;
  margin-top: -30px;
  -webkit-filter: drop-shadow(1px 1px 0 black) 
                    drop-shadow(-1px -1px 0 white);
  filter:drop-shadow(1px 1px 0 black) 
           drop-shadow(-1px -1px 0 white);
}

.opponent-expanded-detail {
  margin-left: 20px;
  margin-right: 20px
}

.opponent-logo {
  height: 50%;
  padding-top: 35px;
}

.row-is-clicked {
  font-weight: bold;
}

.mat-row .mat-cell {
  /* border-bottom: 1px solid transparent;
  border-top: 1px solid transparent; */
  cursor: pointer;
}

tr.game-detail-row {
  height: 0 !important;
}

tr.game-row:not(.game-expanded-row):hover {
  background: whitesmoke;
}

tr.game-row:not(.game-expanded-row):active {
  background: #efefef;
}

.game-row td {
  border-bottom-width: 0;
}

.game-detail {
  overflow: hidden;
  display: flex;
}

.game-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.game-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.game-description {
  padding: 16px;
}

.game-description-attribution {
  opacity: 0.5;
}

.school-logo-div {
  display: flex;
  padding-top: 40px;
}

.school-name {
  font-size: 25px;
  /* font-weight: bold; */
}

.school-info {
  margin-top: -10px;
  padding-left: 10px;
}

.remove-button {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  margin-left: 40px !important;
}

.in-cell-school-logo {
  max-height: 20px !important;
  max-width: 20px;
  vertical-align: middle;
  object-fit: contain;
}

.in-cell-conference-logo {
  max-height: 20px !important;
  max-width: 40px;
  vertical-align: middle;
  object-fit: contain;
}


.in-cell-school-logo-container {
  display: inline-block;
  width: 35px;
  text-align: center;
}

.home-away-radio-group {
    display: flex;
    /* flex-direction: column; */
    margin: 15px 0;
  }
  
  .home-away-radio-button {
    margin: 5px;
  }

.add-game-container {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.add-game-dropdown {
  padding-right: 20px;
}

.add-game-button {
  height: fit-content;
  margin: 10px 20px !important;
}

.dashboard-buttons {
  margin: 20px !important;
  width: 300px !important;
  height: 50px !important;
}

.save-button {
  float: right;
}

.schools-accordian {
    display: flex !important;
    flex-flow: wrap !important;
    margin-top: 10px;
    justify-content: center;
}

.school-detail {
    margin: 10px;
}

.conference-detail {
  margin: 10px;
  width: 350px;
}

.school-detail-logo {
    max-height: 75px;
    max-width: 75px;
    padding-top: 0px;
    padding-left: 0px;
    margin-top: 0px;
    vertical-align: middle;
    object-fit: contain;
    -webkit-filter: drop-shadow(1px 1px 0 black) 
                    drop-shadow(-1px -1px 0 white);
    filter:drop-shadow(1px 1px 0 black) 
           drop-shadow(-1px -1px 0 white);
}

.expansion-panel-data {
    display: inline-flex;
    width: -webkit-fill-available;
}

.school-quick-info {
    align-self: center;
    margin: auto;
}

.conference-schools {
  align-self: center;
  margin: auto;
  display: flex;
  flex-flow: wrap;
  place-content: center;
}

.schedule-button {
    float: right;
}

.conference-select {
  
  max-width: 600px;
  min-width: 300px;
  width: -webkit-fill-available;
  /* display: inline !important; */
}

.conference-select-container {
  text-align: center;
  margin-top: 25px;
}

.dashboard-buttons-container {
  text-align: center;
  align-self: center;
}

.school-schedule-container {
  margin-top: 25px;
}

.school-card {
  margin: 10px;
  cursor: pointer;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 24px;
  border-radius: inherit;
  transition: height 225ms;
  height: 20px;
  width: 250px;
}

.selected-school-card {
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%) !important;
  top: -5px
}

.school-card-container {
  display: flex !important;
  flex-flow: wrap !important;
  margin-top: 10px;
  justify-content: center;
}

.active-button {
  background-color: #5965bd;
}

.overlay {
  height: inherit;
  background-color: rgba(255, 255, 255, 0.25);
}

.save-swap {
  position: fixed !important;
  right: 100px;
  top: 625px;
  z-index: 9999;
}

.schedule-table {
  width: 100%;
}

.medium-team-logo {
  max-height: 75px;
  max-width: 75px;
  object-fit: contain;
}